body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1B9AAA;
    font-family: "Nunito", sans-serif; 
    background-image: url("https://i.imgur.com/4J6GeEc.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -4vh;
    margin-bottom: 4vh;
}

#slots {
    display: grid;
    width: 85vh; 
    height: 12vh;
    grid-template-columns: repeat(7, 11vh);
    grid-template-rows: 9vh;
    gap: 1vh; 
    cursor: pointer;
    margin-left: 7vh;
    margin-bottom: -7vh;
}

    #board { 
    display: grid;
    height: 6-0vh;
    width: 85vh;
    grid-template-columns: repeat(7, 11vh);
    grid-template-rows: repeat(6, 9vh);
    gap: 1vh; 
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}

#board > div {
    border-radius: 25%;
    background-color: transparent;
    background: url("https://i.imgur.com/utasL2x.png?3");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2vh;
    border-radius: 15%;
}

#slots > div {
    background-color: transparent;
    background: url("https://i.imgur.com/x2RHFrt.png?2");
    background-repeat: no-repeat;   
}

#slots > div:hover {
    transform: scale(1.3);
}

h1 {
    color: #ffffff;
    font-size: 65px; 
}

h2 {
    color: #ffffff;
    margin-bottom: -4vh;
    font-size: 40px;
}

button {
    background-color:#f45051;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: "Nunito", sans-serif; 
    margin-bottom: 2vh;
}